.review-container {
    text-align: center;
    padding: 20px;
}

.field {
    position: relative;
    width: 60%;
    height: 600px;
    background-color: green;
    margin: 20px auto;
    border: 2px solid white;
    border-radius: 10px;
    /* background: url('/images/soccer_field.png') no-repeat center center; */
    background-size: cover;
}

.player-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.position-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.position-button:hover {
    opacity: 0.8;
}

.rating-card {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}


.player-info {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}